---
import {Tag} from "../domain/tag";
import TagBadge from "./atoms/TagBadge.astro";
interface Props {
  title: string
  tags: Tag[]
  src: string | undefined
}

const {title, tags, src = '/assets/dummy.svg'} = Astro.props;
---

<div class="h-32 flex items-center border">
    <img src={src} class="h-full aspect-square" alt="サムネイル"/>
    <div class="flex flex-col gap-2 p-5">
        <h2 class="text-lg font-bold">
          {title}
        </h2>
        <div class="flex gap-3">
          {
              tags.map((tag) => <TagBadge name={tag.name}/>)
          }
        </div>
    </div>
</div>
