---
interface Props {
  title: string;
}

const {title: postTitle} = Astro.props;
const blogTitle = 'pancake_tor\'s blog';
---

<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{postTitle?`${postTitle} - ${blogTitle}`:blogTitle}</title>
</head>
<body class="bg-neutral-100 text-neutral-900">
<div class="grid grid-cols-1 gap-10">
    <header class="h-80 flex flex-col justify-center items-center bg-neutral-700 text-white text-center">
        <p class="text-3xl font-bold">{blogTitle}</p>
        <p class="text-lg">
            パンケーキガメ(pancake_tor)のブログです。<br/>
            作ってみました。
        </p>
    </header>

    <slot/>
</div>
</body>
</html>
