---
interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body class="bg-neutral-100 text-neutral-900">
<div class="grid grid-cols-1 gap-10">
    <header class="h-16 flex justify-around items-center bg-neutral-700 text-white">
        <div>
            <span class="font-bold">pancake_tor's blog</span>
        </div>
    </header>

    <slot/>
</div>
</body>
</html>
